{% if THANKS_PROFILELIST_VIEW %}
<div class="panel bg1 profile-thanks">
	<div class="row">
		<h3>{{ lang('GRATITUDES') }}</h3>
		<div>
			<dl>
				<dt>
					{% if S_MOD_THANKS %}<a href="{{ U_CLEAR_LIST_THANKS_GIVE }}" title="{{ lang('CLEAR_LIST_THANKS') }}" class="button button-icon-only"><i aria-hidden="true" class="icon fa-fw fa-recycle"></i><span class="sr-only">{{ lang('CLEAR_LIST_THANKS') }}</span></a>{% endif %}
					{{ lang('GIVEN') }}{{ lang('COLON') }} {% if POSTER_GIVE_COUNT and POSTER_GIVE_COUNT > 0  %}<a href="{{ POSTER_GIVE_COUNT_LINK }}">{{ POSTER_GIVE_COUNT }}</a>{% else %}0{% endif %}
				</dt>
				<dd><div class="list">
    				{% for ITEM in THANKSLIST %}
						<span>{{ ITEM.user }} &#8592; <a href="{{ ITEM.url }}">{{ lang('FOR_MESSAGE') }}</a></span>
					{% endfor %}
					{% if MORE_THANKS %}<span>{{ MORE_THANKS }}</span>{% endif %}
				</div></dd>
			</dl>
		</div>
		<br>
		<div>
			<dl>
				<dt>
					{% if S_MOD_THANKS %}<a href="{{ U_CLEAR_LIST_THANKS_RECEIVE }}" title="{{ lang('CLEAR_LIST_THANKS') }}" class="button button-icon-only"><i aria-hidden="true" class="icon fa-fw fa-recycle"></i><span class="sr-only">{{ lang('CLEAR_LIST_THANKS') }}</span></a>{% endif %}
					{{ lang('RECEIVED') }}{{ lang('COLON') }} {% if POSTER_RECEIVE_COUNT and POSTER_RECEIVE_COUNT > 0 %}<a href="{{ POSTER_RECEIVE_COUNT_LINK }}">{{ POSTER_RECEIVE_COUNT }}</a>{% else %}0{% endif %}
				</dt>
				<dd><div class="list">
    				{% for ITEM in THANKEDLIST %}
						<span>{{ ITEM.user }} &#8592; <a href="{{ ITEM.url }}">{{ lang('FOR_MESSAGE') }}</a></span>
					{% endfor %}
					{% if MORE_THANKED %}<span>{{ MORE_THANKED }}</span>{% endif %}
				</div></dd>
			</dl>
		</div>
	</div>
</div>
{% endif %}
